footer {
    background: #8d8d8d;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}

footer h3 {
    font-size: 2rem;
}

.snsLinks {
    display: flex;
    justify-content: center;
}

.snsLinks a {
    display: block;
    color: #fff;
}